/* setting */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	--clr-primary-dark: #8ca836;
	--clr-primary-light: #abc647;
	--clr-dark: #202020;
	--clr-light: #fff;
	--clr-lighter: #eee;
	--clr-darker: #101010;
	font-family: "Open Sans", sans-serif;
	color: var(--clr-light);
	line-height: 1.6;
}

/* general tag */

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

label {
	display: block;
}

/* utitlity class */
.container {
	max-width: 1240px;
	margin: 0 auto;
}

.primary-accent {
	color: var(--clr-primary-dark);
}

.dark-text {
	color: var(--clr-dark);
}

.primary-bg {
	background-color: var(--clr-dark);
}

.secondary-bg {
	background-color: var(--clr-primary-dark);
}

.btn {
	display: inline-block;
	background: var(--clr-dark);
	color: var(--clr-light);
	text-transform: uppercase;
	padding: .1em .2em;
	border: none;
	border-radius: .3em;
	cursor: pointer;
}

.btn:hover,
.btn:focus {
	background: var(--clr-darker);
}

.btn-light {
	background: var(--clr-primary-light);
	color: var(--clr-light);
}

.btn-light:hover,
.btn-light:focus {
	background: var(--clr-primary-dark);
}

.section-title {
	text-align: center;
	font-size: 2rem;
}

.section-subtitle {
	font-size: 1.3rem;
}

.form-group + .form-group {
	margin-top: 1em;
}

.form-group input {
	height: 2rem;
}

.form-group textarea {
	height: 6rem;
}

.form-group input,
.form-group textarea {
	padding: 0.5em;
	border: none;
	border-radius: 0.3em;
	width: 100%;
}

.form-group input:focus,
.form-group textarea:focus {
	background: var(--clr-lighter);
	outline: none;
}

.spacing {
	padding: 1.25em 1em 2em;
}

.spacing > * + * {
	margin-top: 1.5em;
}

/* header */
.nav__brand {
	text-align: center;
}

.nav__brand i {
	padding: 0 0.2em;
}

.nav__list {
	display: flex;
	justify-content: center;
}

.nav__item + .nav__item {
	margin-left: 0.5em;
}

.nav__link:hover,
.nav__link:focus {
	background: var(--clr-primary-light);
	color: var(--clr-light);
}

/* hero section */
.hero {
	background: url('../img/showcase.jpg') no-repeat center center/cover;
	position: relative;
	height: calc(500px + 15vw);
	text-align: center;
	z-index: 1;
}

.hero::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	z-index: -1;
}

.hero__wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.hero__title {
	font-size: 3rem;
	line-height: 1.2;
}

.hero__desc {
	font-size: 1.2rem;
}

.hero__wrapper .btn {
	font-size: 1.3em;
}
/* feature section */
.feature__box {
	display: flex;
	align-items: center;
}

.feature__box + .feature__box {
	margin-top: 2em;
}

.feature__icon {
	margin: 0 .5em;
	padding: .5em;
	font-size: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--clr-primary-light);
	border-radius: 50%;
}
/* about section*/
.about__img {
	display: none;
}

.about__text ul {
	margin-bottom: 0.5em;
}

.about__text ul li + li {
	margin-top: 0.5em;
}

.about__text .section-title {
	text-align: left;
}

/* client section */
.client .section-title {
	color: var(--clr-dark);
}

.client__list {
	display: flex;
	justify-content: space-between;
}

.client__icon {
	width: 18%;
	max-width: 10rem;
}
/* contact section */
.contact {
	display: flex;
}

.contact__main {
	width: 100%;
}

.contact .section-title {
	text-align: justify;
}

.contact__form button {
	width: 100%;
	height: 2rem;
	margin-top: 1em;
}

.contact__gmap {
	display: none;
}
/* footer */
.footer {
	padding: 1em .5em;
	text-align: center;
}

@media (min-width: 320px) {
	.btn {
		padding: 0.3em 0.6em;
	}
}

@media (min-width: 576px) {
	.nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.nav__list {
		margin-top: 0;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 18px;
	}

	.split {
		display: flex;
		justify-content: space-between;
	}

	.feature__box {
		flex-direction: column;
		text-align: center;
	}

	.feature__box + .feature__box {
		margin: 0 0 0 1.5em;
	}

	.hero__title {
		font-size: 3.5rem;
	}

	.section-title {
		font-size: 2.5rem;
	}

	.section-subtitle {
		font-size: 1.5rem;
	}

	.contact__main {
		width: 600px;
	}

	.contact__gmap {
		display: block;
		flex-grow: 1;
	}
}

@media (min-width: 992px) {
	html {
		font-size: 20px;
	}

	.hero__title {
		font-size: 4rem;
	}

	.section-title {
		font-size: 3rem;
	}

	.section-subtitle {
		font-size: 1.7rem;
	}
}

@media (min-width: 1200px) {
	.about__img {
		display: block;
		width: 65%;
		object-fit: cover;
	}

	.about__text {
		width: 35%;
	}
}
